* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    background-image: url('../images/galaxy.gif');
    width: 75%;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1 {
    color: rgb(230, 229, 229);
    text-shadow: 2px 2px 3px gray;
    margin-bottom: 3rem;
}

header input {
    height: 1.8rem;
}

header select {
    height: 1.8rem;
    color: gray;
    border-radius: 5px;
}

header button {
    background-color: gray;
    color: white;
    font-family: inherit; 
    height: 1.8rem;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.245);
    margin-top: 1.5rem;
}

.flex-container .image {
    display: inherit;
    justify-content: center;
    align-self: center;
}

.flex-container .image img {
    width: 55%;
    padding: 1.8rem 0;
}
